.card {
    margin: 0;
    padding: 0;
  }

.button-cart{
    background: #eb0029;
    border-radius: 20px;
    display: inline-block;
    color: #fffffF;
    font-weight: 700;
    text-decoration: none;
}